/MERNCRUD/backend/node_modules
/MERNCRUD/backend/package-lock.json
/MERNCRUD/frontend/node_modules
/MERNCRUD/frontend/package-lock.json
/Weather/node_modules
/Weather/package-lock.json
/todolist/node_modules
/todolist/package-lock.json